* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles */

a {
  text-decoration: none;
  color: unset;
}

.header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: darkorange;
}

.nav-bar {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-bar .navbar-lbl {
  position: absolute;
  text-indent: -9999px;
}

.nav-bar input {
  height: 46px;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.nav-bar input:focus-visible {
  outline: none;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nav-bar ul li {
  list-style: none;
  padding: 20px;
}

.nav-bar ul li:hover {
  background-color: #000000;
}

.nav-bar ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
}

.post-container {
  max-height: 250px;
  overflow-y: scroll;
}

.post-container article {
  border-bottom: 1px solid #000000;
  padding: 15px;
}

.post-container article h1 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: normal;
}

.post-date {
  margin-bottom: 8px;
}

.post-container article:last-child {
  border-bottom: none;
}

input {
  height: 56px;
  padding: 0 15px 0 15px;
  border-color: #0000003a;
}

/* btn styles */
.btn {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.new-post-main {
  padding: 30px;
}

.home-page {
  min-height: 100px;
}

.footer-page {
  background-color: #000000;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
}

/* scrollbar styles */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}